*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(173, 58, 58);

}
header{
    background-color: rgb(18, 78, 105);
    text-align: center;
    margin-top: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(62, 158, 158);
    text-align: center;
    margin: auto;
    gap: 25px;
padding: 10px;
color: white;
}
nav a{
    display: inline-block;
  margin-right: 25px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}
nav a:hover{
    cursor: pointer;
    color: rgb(203, 206, 50);
    text-decoration: none;
    gap: 20px;
}
.kiki{
    margin: center;
    text-align: center;
    justify-content: center;
}
.ququ{
    background-color: white;
    width: 80%;
    color: rgb(151, 44, 44);
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 10px;
    border-radius: 6px;
}
footer{
    text-align: center;
    background-color: rgb(111, 111, 214);
    padding: 10px;
    color: white;
    margin-top: 320px;
}
img{
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 10px;
    padding-top: 20px;
}